@media screen and (max-width: 375px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .simple-text,
  .bolder-text,
  .stroke-text {
    font-size: 27px;
    line-height: 32px;
  }
  .stroke-text {
    letter-spacing: 2px;
  }
  .hero-section {
    padding: 0px;
    flex-direction: column;
    .text-area {
      order: 2;
    }
    .img-area {
      margin:48px 0;
      order: 1;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
