@media screen and (max-width: 375px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .similar-heading {
    font-size: 32px !important ;
  }
  .hero-section {
    padding: 0px;
    flex-direction: column;
    .text-area {
      order: 2;
      .texts {
        .simple-text,
        .bolder-text,
        .stroke-text {
          font-size: 27px;
          line-height: 32px;
        }
        .stroke-text {
          letter-spacing: 2px;
        }
      }
    }
    .img-area {
      margin: 48px 0;
      order: 1;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .skills-section {
    margin-top: 48px;
    padding: 0;
    .skill-items {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin: 0;
      .skill-item {
        padding: 32px;
      }
    }
  }
  .experience-section {
    .experience-items {
      padding: 0;
    }
    .experience-org > .org-headings {
      flex-direction: column;
      gap: 22px;
      .org-heading > h3 {
        font-size: 20px !important;
      }
    }
  }
  .about-section {
    padding: 0;
    flex-direction: column;
    gap: 16px;
    .about-img {
      img {
        width: 100%;
      }
    }
  }
  .project-section {
    .project-item {
      flex-direction: column;
      .img-area {
        img {
          width: 100%;
        }
      }
      & .text-area > .numbar {
        font-size: 24px !important;
      }
      & .text-area > h3 {
        font-size: 20px !important;
        padding: 0;
        margin-top: 0 !important;
      }
      .item-para {
        order: 2;
      }
      .item-img {
        order: 1;
      }
    }
  }
  .testmonial-section {
    .testmonial-cards {
      flex-direction: column;
      .card-item {
        padding: 24px !important;
        .text-area::after {
          right: 55px !important;
        }
      }
    }
  }
  .contact-section {
    flex-direction: column;
    .contact-form-area > .button-group {
      flex-direction: column;
      align-items: start;
      .get-in-touch > .get-in-btn {
        font-size: 16px;
      }
    }
  }
  footer {
    padding: 24px 0;
    .footer-section > p {
      font-size: 12px;
    }
  }
}
