@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
$font-family-sans-serif: "Sora", sans-serif;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
}
// variables
@mixin dark-heading {
  color: #000;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  padding: 16px 0;
  span {
    font-weight: bold;
  }
}
@mixin light-heading {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  padding: 16px 0;
  span {
    font-weight: bold;
  }
}
@mixin dark-hover {
  background: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
@mixin light-hover {
  background: #ffffff;
  color: #000000;
  transition: all 0.2s ease-in-out;
}
@mixin dark-shadow-hover {
  border: 0;
  outline: none;
  background: #27272a;
  color: #d4d4d8;
  transition: all 0.2s ease-in-out;
  border: #27272a 1px solid;
}
.stroke-text {
  color: transparent;
  -webkit-text-stroke: #000 1.5px;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: -2px;
}
.simple-text {
  margin-bottom: 12px;
  display: block;
  color: #000;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}
.bolder-text {
  display: inline-block;
  font-weight: 800;
}
// navigation bar section styling start
.nav-section {
  padding: 8px 24px;
}
.nav-item {
  .nav-link {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
}
.similar-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 16px 22px;
  background: #000;
  border-radius: 5px;
  .resume {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
  img {
    width: 18px;
    height: 18px;
  }
}
// hero section area styling
.hero-section {
  padding: 42px;
  display: flex;
  align-items: end;
  .text-area {
    order: 1;
    .texts {
      .para {
        margin-top: 32px;
        color: #71717a;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    .icons {
      padding-top: 70px;
      display: flex;
      gap: 32px;
      .icon {
        padding: 16px 20px;
        border: 2px solid #000;
        border-radius: 4px;
        color: #000;
        font-size: 20px;
        &:hover {
          @include dark-hover;
        }
      }
    }
  }
  .img-area {
    order: 2;
    flex: 1;
    width: 550px;
  }
}
// skills section area styling
.skills-section {
  padding: 42px;
  margin-top: 42px;
  .similar-heading {
    @include dark-heading;
  }
  .skill-items {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 68px;
    row-gap: 42px;
    justify-content: space-between;
    justify-items: center;
  }
  .skill-item {
    width: 100%;
    height: 100%;
    padding: 32px 0;
    border: 2px solid #000;
    border-radius: 4px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    i {
      font-size: 50px;
    }
    p {
      margin-top: 32px;
    }
    &:hover {
      @include dark-hover;
    }
  }
}
// experience section area styling
.experience-section {
  background: #000;
  color: #d4d4d8;
  padding: 42px 0;
  margin-top: 52px;
  .experience-items {
    padding: 42px;
    .similar-heading {
      @include light-heading;
    }
    .experience-org {
      margin-top: 42px;
      padding: 22px;
      border: 1px solid #71717a;
      border-radius: 10px;
      .org-headings {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
        .org-heading {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 32px;
          img {
            width: 32px;
          }
          & h3 {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
          }
        }
      }
      &.para {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      &:hover {
        @include dark-shadow-hover;
      }
    }
  }
}
// about section styling
.about-section {
  margin-top: 36px;
  padding: 48px;
  display: flex;
  gap: 72px;
  .about-text {
    h3 {
      @include dark-heading;
      text-align: left;
    }
    p {
      margin-top: 32px;
      color: #71717a;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
// project section styling
.project-section {
  width: 100vw;
  margin-top: 32px;
  padding: 42px 0;
  background: #000;
  color: #71717a;
  .project-items {
    h3 {
      @include light-heading;
      padding: 16px 0;
    }
    .project-item {
      margin-top: 32px;
      display: flex;
      gap: 72px;
      align-items: center;
      & .text-area {
        span {
          color: #fff;
          font-size: 48px;
          font-weight: 800;
          line-height: 56px;
        }
        & h3 {
          margin: 16px 0;
          color: #fff;
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
          text-align: left;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
// testmonial section styling
.testmonial-section {
  margin-top: 32px;
  padding: 42px 0;
  h3 {
    @include dark-heading;
  }
  .testmonial-cards {
    display: flex;
    gap: 32px;
    padding: 42px 22px;
    .card-item {
      padding: 42px 48px;
      text-align: center;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      border-radius: 20px;
      position: relative;
      .img-area {
        display: inline-block;
        position: relative;
        .after-img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      .text-area {
        padding: 32px 0;
        position: relative;
        p {
          color: #404040;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
        &::after {
          content: "";
          width: 150px;
          height: 2px;
          background: #000;
          position: absolute;
          bottom: 20px;
          right: 80px;
        }
      }
      .designer-name {
        h4 {
          margin: 16px 0;
          color: #404040;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
        }
        p {
          color: #71717a;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }
  }
}
// contact section styling
.contact-section {
  margin-top: 32px;
  padding: 42px 22px;
  display: flex;
  align-items: center;
  // justify-content: space-around;
  gap: 120px;
  .contact-form-area > .input-group > .input-item {
    margin-top: 12px;
    width: 100%;
    input,
    textarea {
      padding: 18px 26px;
      width: 100%;
      resize: none;
      border: #a8a8bf 1px solid;
      border-radius: 4px;
      &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #71717a;
      }
      &:focus {
        outline: none;
        border: #71717a 1px solid;
      }
    }
  }
  .contact-form-area > .button-group {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 42px;
    .get-in-touch {
      padding: 15px 18px;
      border: 2px solid #000;
      border-radius: 4px;
      background: #000;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: none;
    }
    .icon {
      padding: 12px 18px;
      border: 2px solid #000;
      border-radius: 4px;
      color: #000;
      font-size: 20px;
      &:hover {
        @include dark-hover;
      }
    }
  }
  .contact-text-area {
    h3 {
      color: #000;
      font-size: 48px;
      font-weight: 800;
      line-height: 56px;
      .stroke-text {
        margin: 0 5px;
        font-size: 48px;
      }
    }
    p {
      margin: 16px 0;
      color: #71717a;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    h4 {
      margin-top: 52px;
      font-size: 28px;
      font-weight: 600;
      line-height: 34px;
    }
  }
}
// footer section styling
footer {
  margin-top: 32px;
  padding: 32px 0 24px 0;
  background: #000;
  color: #fff;
  .footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// component imported
@import "responsive";

// bootstrap node modules
@import "../node_modules/bootstrap/scss/bootstrap";
